.poke-detail {
    height: 1000px;
}

.poke-detail-name{
    background-color: white;
    padding-bottom: 6px;
    border-bottom: 6px solid black;
}

.poke-detail-types {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 24px;
}

.poke-type-badge {
    padding: 8px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    color: white;
}

.poke-detail-img {
    width: 360px;
    height: 360px;
}

.stats-title {
    display: flex;
    justify-content: left;
    left : 50px;
}

.stats {
    max-width: 600px;
    margin: 20px;
    padding: 15px;
    border: 4px double #000;
    border-radius: 10px;
}

.stats p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    font-size: 12px;
    color: black;
    border-bottom: 2px dashed black;
}

.edit-poke-button {
    background-color: rgb(250, 204, 20);
    color: white;
    border-radius: 8px;
    margin: 10px;
    height: 30px;
    width: 500px;
    outline: 2px solid black;   /* Bordure extérieure */
    outline-offset: 2px;
    text-shadow: 
         2px  2px 0 #000, 
         3px  3px 0 #000,
         4px  4px 0 #000;
    position: relative;
}

.edit-poke-button:hover{
    background-color: rgb(231, 185, 1);
    color: #217cc3;
    border-radius: 8px;
    text-shadow: 
         2px  2px 0 #000, 
         3px  3px 0 #000,
         4px  4px 0 #000;
}

.edit-poke-button:hover::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 60%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #217cc3;
    animation: blink 0.6s infinite;
}


.delete-poke-button {
    background-color: rgb(243, 43, 43);
    border-radius: 8px;
    margin: 10px;
    height: 30px;
    width: 400px;
    outline: 2px solid black;   /* Bordure extérieure */
    outline-offset: 2px;
    text-shadow: 
         2px  2px 0 #000, 
         3px  3px 0 #000,
         4px  4px 0 #000;
    position: relative;
}

.delete-poke-button:hover{
    background-color: rgb(172, 10, 10);
    border-radius: 8px;
    text-shadow: 
         2px  2px 0 #000, 
         3px  3px 0 #000,
         4px  4px 0 #000;
}

.delete-poke-button:hover::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 60%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid white;
    animation: blink 0.6s infinite;
}

.back-list-button {
    color: black;
    position: relative;
}

.back-list-button:hover{
    color: black;
    border-radius: 8px;
}

.back-list-button:hover::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid black;
    animation: blink 0.6s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}


.poke-type-badge.poke-type-normal { background-color: #A8A878; }
.poke-type-badge.poke-type-fire { background-color: #F08030; }
.poke-type-badge.poke-type-water { background-color: #6890F0; }
.poke-type-badge.poke-type-grass { background-color: #78C850; }
.poke-type-badge.poke-type-electric { background-color: #F8D030; }
.poke-type-badge.poke-type-ice { background-color: #98D8D8; }
.poke-type-badge.poke-type-fighting { background-color: #C03028; }
.poke-type-badge.poke-type-poison { background-color: #A040A0; }
.poke-type-badge.poke-type-ground { background-color: #E0C068; }
.poke-type-badge.poke-type-flying { background-color: #A890F0; }
.poke-type-badge.poke-type-psychic { background-color: #F85888; }
.poke-type-badge.poke-type-bug { background-color: #A8B820; }
.poke-type-badge.poke-type-rock { background-color: #B8A038; }
.poke-type-badge.poke-type-ghost { background-color: #705898; }
.poke-type-badge.poke-type-dragon { background-color: #7038F8; }
.poke-type-badge.poke-type-dark { background-color: #705848; }
.poke-type-badge.poke-type-steel { background-color: #B8B8D0; }
.poke-type-badge.poke-type-fairy { background-color: #EE99AC; }