.add-pokemon-container {
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.add-pokemon-title {
    background-color: white;
    padding-bottom: 6px;
    border-bottom: 6px solid black;
}

.info-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.input-bar{
    font-family: 'Press Start 2P';
    font-size: 16px; 
    line-height: 1.8;
    color: black;
    outline: 2px solid black;
    outline-offset: 2px;
    width: 400px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}

.input-bar:hover{
    font-family: 'Press Start 2P';
    font-size: 16px; 
    line-height: 1.8;
    color: rgb(71, 71, 71);
    padding: 8px;
    width: 400px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(194, 194, 194);
}

select.input-bar:hover{
    font-family: 'Press Start 2P';
    font-size: 16px; 
    line-height: 1.8;
    color: black;
    padding: 8px;
    width: 400px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
}

.poke-create-button {
    background-color: rgb(124, 124, 124);
    width: 600px;
    margin-top: auto;
    padding: 15px;
    position: relative;
    border: 6px double black;
}

.poke-create-button:hover {
    border: 6px double rgb(212, 168, 24);
}

.poke-create-button:hover::before {
    content: "";
    position: absolute;
    left: 40px;
    top: 47%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid white;
    animation: blink 0.6s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

.back-list-button {
    color: black;
    position: relative;
}

.back-list-button:hover{
    color: black;
    border-radius: 8px;
}

.back-list-button:hover::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid black;
    animation: blink 0.6s infinite;
}

.poke-button-add {
    display: flex;
    justify-content: center;
    align-items: center;
    content: center;
    width: 800px;
    height: 60px;
    background-color: rgb(250, 204, 20);
    color: white;
    outline: 4px double black;
    outline-offset: 2px;
    padding-left: 30px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
}

.poke-button-add:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    content: center;
    width: 800px;
    height: 60px;
    background-color: rgb(231, 185, 1);
    color: #217cc3;
    outline: 4px solid black;
    outline-offset: 2px;
    padding-left: 30px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
}

.poke-button-add:hover::before {
    content: "";
    position: absolute;
    left: 120px;
    top: 46%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #217cc3;
    animation: blink 0.6s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}