.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    width: 800px;
    padding: 40px;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    text-align: center;
    border: 4px solid black;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal-delete-button {
    background-color: rgb(243, 43, 43);
    border-radius: 8px;
    margin: 10px;
    height: 50px;
    width: 400px;
    outline: 2px solid black;
    outline-offset: 2px;
    text-shadow: 
         2px  2px 0 #000, 
         3px  3px 0 #000,
         4px  4px 0 #000;
    position: relative;
}

.modal-delete-button:hover{
    background-color: rgb(172, 10, 10);
    border-radius: 8px;
    text-shadow: 
         2px  2px 0 #000, 
         3px  3px 0 #000,
         4px  4px 0 #000;
}

.modal-delete-button:hover::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid white;
    animation: blink 0.6s infinite;
}


.modal-cancel-button {
    background-color: rgb(90, 90, 90);
    border-radius: 8px;
    margin: 10px;
    height: 50px;
    width: 400px;
    outline: 2px solid black;
    outline-offset: 2px;
    text-shadow: 
         2px  2px 0 #000, 
         3px  3px 0 #000,
         4px  4px 0 #000;
    position: relative;
}

.modal-cancel-button:hover{
    background-color: rgb(58, 58, 58);
    border-radius: 8px;
    text-shadow: 
         2px  2px 0 #000, 
         3px  3px 0 #000,
         4px  4px 0 #000;
}

.modal-cancel-button:hover::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid white;
    animation: blink 0.6s infinite;
}



@keyframes blink {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}