#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 80px solid rgb(27, 26, 26);
  border-radius: 20px;
  position: relative;
}

#root::after {
  content: "";
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  background-color: #969696;
  border: 4px solid #7c7c7c;
  border-radius: 50%;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), 0px 2px 0px rgba(255,255,255,0.2);
}